.offcanvas {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    display: block;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.offcanvas-bottom {
    transform: translateY(100%);
}

.offcanvas.show {
    transform: translateY(0);
}

.offcanvas-header {
    display: flex;
    align-items: center
}